{{#*inline "head-block" }}
		<title>{{c.name}} - cargo-local-serve: packages for Rust</title>
		<meta name="description" content="{{c.description}}">
{{/inline}}
{{#> frame}}
	<div id="crates-heading">
		<div class="wide">
			<h1>{{c.name}}</h1>
			<h2>{{c.version}}</h2>
		</div>
		<ul class="crate-links">
		{{#if c.homepage}}
			<li><a href="{{c.homepage}}">Homepage</a></li>
		{{/if}}
			<li><a href="{{c.documentation}}">Documentation</a></li>
		{{#if c.repository}}
			<li><a href="{{c.repository}}">Repository</a></li>
			{{#if c.vcs_commit}}
			<li><a href="{{c.repository}}/commit/{{c.vcs_commit}}">Commit link</a></li>
			{{/if}}
		{{/if}}
			<li><a href="/reverse_dependencies/{{c.name}}/">Dependent crates</a></li>
			<li><a href="/files/{{c.name}}/{{c.version}}/">Browse files</a></li>
		</ul>
	</div>
	<div class="crate-info">
		<div class="docs">
			<div class="install">
				<div class="action">Cargo.toml</div>
				<code id="crate-toml">{{c.name}} = "{{c.version}}"</code>
				<!--<button class="copy-btn">
					<svg width="24" height="25" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg" alt="Copy to clipboard"><path d="M18 20h2v3c0 1-1 2-2 2H2c-.998 0-2-1-2-2V5c0-.911.755-1.667 1.667-1.667h5A3.323 3.323 0 0 1 10 0a3.323 3.323 0 0 1 3.333 3.333h5C19.245 3.333 20 4.09 20 5v8.333h-2V9H2v14h16v-3zM3 7h14c0-.911-.793-1.667-1.75-1.667H13.5c-.957 0-1.75-.755-1.75-1.666C11.75 2.755 10.957 2 10 2s-1.75.755-1.75 1.667c0 .911-.793 1.666-1.75 1.666H4.75C3.793 5.333 3 6.09 3 7z"></path><path d="M4 19h6v2H4zM12 11H4v2h8zM4 17h4v-2H4zM15 15v-3l-4.5 4.5L15 21v-3l8.027-.032L23 15z"></path></svg>
				</button>-->
			</div>
			{{#if c.readme_html}}
				<div>{{{c.readme_html}}}</div>
			{{else}}
				<h3>About this Package</h3>
				<p>{{c.description}}</p>
			{{/if}}
		</div>
		<div class="authorship">
			<div>
				<h3>Authors</h3>
				<ul>
				{{#each c.authors}}
				{{#if email}}
					<li><a href="mailto:{{email}}">{{name}}</a></li>
				{{else}}
					<li>{{name}}</li>
				{{/if}}
				{{/each}}
				</ul>
			</div>
			<div>
				<h3>License</h3>
				<p>
					{{c.license}}
				</p>
			</div>
			<div>
				<h3>Versions</h3>
				<ul>
				{{#each c.versions}}
					<li>
						<a href="/crate/{{../c.name}}/{{v}}">{{v}}</a>
						<span class="date">{{date}}</span>
					</li>
				{{/each}}
				</ul>
				{{#if c.versions_limited}}
				<span class="small">
					<a href="/versions/{{../c.name}}">Show all {{c.versions_limited}} versions</a>
				</span>
				{{/if}}
			</div>
			<div>
				<h3>Dependencies</h3>
				<ul>
				{{#each c.dependencies}}
					<li><a href="/crate/{{name}}">{{name}} {{req}}</a>
					{{#if optional}}
						<span class="optional">optional</span>
					{{/if}}
					</li>
				{{else}}
					<li>None</li>
				{{/each}}
				</ul>
			</div>
			{{#if c.dev_dependencies}}
			<div>
				<h3>Dev-Dependencies</h3>
				<ul>
				{{#each c.dev_dependencies}}
					<li><a href="/crate/{{name}}">{{name}} {{req}}</a></li>
				{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>
	</div>
{{/frame}}
